.gform_wrapper .ginput_container .small, .gform_wrapper .ginput_container .datepicker, .ginput_complex input {
  border: 1px solid #aaa;
  padding: 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 36px;
  box-shadow: none;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#input_4_11_2, #input_4_11 {
	font-size: 17px;
}

.gform_body ul li{
	padding-left: 0;
}

label{
	font-weight: normal !important;
}

.gform_wrapper .ginput_container .small:focus, .gform_wrapper .ginput_container .datepicker:focus {
  color: #a92089;
  border: 1px solid #a92089;
}

.ui-datepicker-month, .ui-datepicker-year {
  color: #18AEE6;
}

.gform_wrapper.gform_validation_error .gform_body .gform_fields .gfield.gfield_error {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.gform_body .gform_fields .gfield {
	background-image: none;
}

.charleft.ginput_counter {
	display: none;
}

.gform_wrapper .gform_body .gfield  .ginput_container .medium, .gform_wrapper .gform_body .gfield  .ginput_container .small, .gform_wrapper .gform_body .gfield  .ginput_container .large , .ginput_complex input{
	font-size: 1em;
	border: 1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

.gform_wrapper .gform_body .gfield  .ginput_container .medium:focus, .gform_wrapper .gform_body .gfield  .ginput_container .small:focus, .gform_wrapper .gform_body .gfield  .ginput_container .large:focus, .ginput_complex input:focus {
	border-color: #a92089;
	color: #a92089;
}

.gform_wrapper .top_label .gfield .gfield_label {
	margin: 11px 0 10px 0;
}

.gform_wrapper .gform_body li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin: 10px 0 10px 0;
}

.gform_wrapper .gform_body li.gfield.gfield_error.gfield_contains_required div.ginput_container {
	margin-top: 0;
}

.gfield_error .ginput_container {
	padding-bottom: 0;
}

.ginput_container {
	padding-bottom: 8px;
}

p.opt-out-container {
	font-size: 0.7em;
}

.gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li{
	padding-left: 3px !important;
}

.gform_footer input.gform_button, #change_lang {
	color: #fff;
	border: 1px solid #18aee5;
	background-color: #18aee5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 20px!important;
}

#change_lang a, #change_lang a:hover {
	color: #FFF;
	transition: none;
	text-decoration: none;
}

.gform_footer input.gform_button:hover, #change_lang:hover {
	border: 1px solid #a92089;
	background-color: #a92089;
}

.form-cancel{
	padding: 9px 20px;
	text-decoration: none !important;
	background: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 5px;
}

.gfield .ginput_container+.gfield_description {
    position: absolute;
    background: #a92089;
    display: none;
    width: 300px;
    box-sizing: border-box;
    padding: 5px!important;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: -85px;
    color: #fff;
    z-index: 1000;
}

.gfield .ginput_container+s.gfield_description:after {
    top: 100%;
    left: 50%;
    border: 1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #a92089;
    border-width: 8px;
    margin-left: -8px;
}

.gfield .gfield_description.validation_message {
    background: none;
    color: rgb(121, 0, 0);;
    position: static;
}

.gfield .ginput_container+.gfield_description.validation_message {
    display: block;
}

.gform_wrapper.gform_validation_error .gform_body .gform_fields .gfield {
    padding-left: 5px!important;
}